// breakpoints
@mixin breakpoint-sm {
  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin breakpoint-md {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media screen and (max-width: $breakpoint-lg) {
    @content;
  }
}

// util
@mixin reset() {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin minmax-width($min, $max) {
  min-width: $min;
  max-width: $max;
}

// animation
@mixin fadeIn($duration) {
  animation: FadeIn $duration;
  animation-fill-mode: forwards;
}

@mixin fadeOut($duration) {
  animation: FadeOut $duration;
  animation-fill-mode: forwards;
}

@mixin scroll-forwards($duration) {
  animation: Scroll $duration forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}