// THEME
$dark: #132743;
$primary: #edc988;
$secondary: #f8efd4;
$accent: #d7385e;
//$accent: #1e5f74;
$text: #333;
$muted: #888;
$bg: whitesmoke;
$light: whitesmoke;

// BREAKPOINTS
$breakpoint-xl: 1366px;
$breakpoint-lg: 1080px;
$breakpoint-md: 800px;
$breakpoint-sm: 500px;
$breakpoint-xs: 320px;
$container: 1280px;
