$project-size: 192px;
$project-size-md: 192px;
$project-size-sm: 128px;
$project-speed: 0.25s;

.portfolio {
  max-width: 1200px;
  margin: auto;

  @include breakpoint-md {
    margin: 1rem;
  }

  @include breakpoint-sm {
    @include reset;
    overflow: hidden;
  }

  .heading {
    margin: 2rem 0;
    padding: 1rem;
  }

  .project-reel {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;

    @include breakpoint-sm {
      @include reset;
    }

    .project {
      display: grid;
      grid-template-columns: 2fr 4fr;
      grid-gap: 1rem;
      margin-bottom: 3rem;
      width: 100%;

      @include breakpoint-md {
        grid-template-columns: 1fr 1fr;
      }

      @include breakpoint-sm {
        margin-bottom: 0;
        display: block;
      }

      &-video {
        width: 100%;
        box-shadow: 0 0 0.5rem black;

        @include breakpoint-sm {
          width: 100%;
          box-shadow: none;
        }
      }

      &-text {
        width: 100%;
        padding: 0 1rem;
        max-width: 50ch;

        .project-title {
          color: $accent;
          font-size: 1.5rem;
          margin: 0 0 1rem 0;

          @include breakpoint-sm {
            margin: 1rem 0;
          }
        }

        .project-description {
          @extend %default-text;
        }
      }

      &-link {
        display: block;
        color: darken($accent, 24%);
        margin: 1rem auto;

        &:hover {
          text-decoration: underline;
        }

        &:visited {
          color: $accent;
        }
      }
    }
  }
}
