.profile {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  border-radius: 5px;
  overflow-x: hidden;
  margin-bottom: 2rem;
  border-radius: 10px;

  @media screen and (max-width: $breakpoint-md) {
    margin-bottom: 0rem;
    display: block;
  }

  &-text {
    border-radius: 10px;
    font-size: 1.1rem;
    line-height: 1.1 * 1.618rem;
    font-family: "David Libre";
    color: $text;
    width: 100%;
    max-width: 50ch;

    a {
      color: $accent;
      font-weight: 700;
      font-style: italic;
      text-decoration: underline;
    }

    @media screen and (max-width: $breakpoint-lg) {
      max-width: 75ch;
    }

    @media screen and (max-width: $breakpoint-md) {
      margin-bottom: 1rem;
      padding: 0 1rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
      margin: auto;
      margin-bottom: 1rem;
      max-width: 100%;
      width: 100%;
    }
  }

  &-img {
    background-image: url("../../../assets/images/Headshot6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 5px;
    background-position: center;
    height: 512px;

    @media screen and (max-width: $breakpoint-lg) {
      background-size: cover;
      height: 512px;
      width: 512px;
      margin-bottom: 3rem;
    }

    @media screen and (max-width: $breakpoint-md) {
      margin: auto;
      margin-bottom: 3rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
      height: 250px;
      width: 250px;
      border-radius: 50%;
    }
  }
}
