@import "../styles/scss/abstracts/vars";
@import "../styles/scss/abstracts/mixins";

$size: 256px;
.background {
  pointer-events: none;
  background: $dark;
  width: 100%;
  height: 50vh;
  position: absolute;
  z-index: -2;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }
}

.heroLayout {
  width: 100%;
  height: 100vh;
  margin-left: 25%;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;

  @include breakpoint-md {
    margin-left: 1rem;
  }
  @include breakpoint-sm {
    display: block;
    margin: 0;
    margin-top: 50vh;
    width: 100%;
  }
}

.profilePicture {
  img {
    box-shadow: 0 0 1rem $dark;
    border-radius: 50%;
    object-fit: cover;
    width: $size;
    height: $size;
  }
}

.textContainer {
  pointer-events: all;
  margin-left: 3rem;
  height: $size;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .title {
    color: #fff;
    font-family: "David Libre", Times, serif;
    font-weight: normal;
    font-size: 3rem;
  }

  .subtitle {
    color: $dark;
    font-family: "David Libre", Times, serif;
    font-weight: normal;
  }
}
