.heading {
  display: inline-block;
  font-size: 2rem;
  font-weight: normal;
  font-family: "David Libre";
  text-transform: capitalize;

  margin: 2rem 0;
  color: $accent;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 1.1 * 2rem;
    margin: 1rem 1rem;
    width: 100%;
  }
}

.sub-heading {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: $muted;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 1.1 * 1.25rem;
    margin: 1.5rem auto;
    margin-left: 1rem;
    text-align: left;
    width: 100%;
  }
}
