.primary {
  color: $primary;
}
.black {
  color: black;
}
.white {
  color: white;
}
.bg-primary {
  color: $primary;
}
.accent {
  color: $accent;
}
.bg-accent {
  background-color: $primary;
}
.dark {
  color: $dark;
}
.bg-dark {
  background-color: $dark;
}
.light {
  color: $light;
}
.bg-light {
  background-color: $light;
}
.muted {
  color: $muted;
}
